<footer>
      <div class="row">
        <div class="col-md-4 text-left">
          André Vieira {{ site.time | date: '%Y' }} <span class="fab fa-creative-commons"></span>
        </div>
         <div class="col-md-4 text-center">
          
        </div>
        <div class="col-md-4 text-right">
          <a
            href ="https://www.linkedin.com/in/andr%C3%A9-p-vieira-16095557/"
            title="My linkedin profile">
              <span class="thunder fab fa-linkedin"></span>
          </a>
          <a
            href ="https://github.com/ahpvieira"
            title="My github repos!">
              <span class="thunder fab fa-github-alt"></span>
          </a>
        </div>
      </div>
  </footer>
  <!--
  <div id="fade"></div>
  -->