<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title> &middot; Andre Vieira - R-Shiny Consultant &middot; </title>     
  <link rel="shortcut icon" href="/images/favicon-line-chart.png" type="image/png"/>
    
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/grid.bootstrap.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%7CRoboto+Condensed:300">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%7CRoboto:100,300">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Jquery & D3js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
</head>
<body>
{{ content }}
  <!-- Custom JS -->
  
</body>
</html>